/* Global */

input{
	outline: none;
	background: none;
	border: none;
	padding-left: 5px;
	height: 25px;
	border-radius: 2px;
}

button{
	outline: none;
	font-size: 11px;
	border: solid 1px #EFEFEF;
	border-radius: 10px;
	color: #EFEFEF;
	background: none;
	padding: 5px 10px;
	transition: all 0.5s ease;
}

.empty-bullet{
	height: 5px;
	width: 5px;
	border-radius: 50px;
	border: solid 1px #EFEFEF;
}

.selected-bullet{
	height: 5px;
	width: 5px;
	border-radius: 50px;
	border: solid 1px #FF530D;
}

/* Mapper */

#directory{
	min-height:	100%;
	overflow: auto;
	background-color: #2B3A42;
	color: #EFEFEF;
}

#directory img{
	height: 20px;
	width: 20px;
	cursor: pointer;
	fill: #EFEFEF;
}

#directory svg{
	height: 20px;
	width: 20px;
	cursor: pointer;
	fill: #EFEFEF;
	transition: fill 0.5s ease;
}

#directory input{
	color: #EFEFEF;
	border-bottom: solid 1px #759caf;
}

#directory button:hover{
	background-color: #EFEFEF;
	color: #2B3A42;
}

#directory .map-line .map-name{
	transition: color 0.5s ease;
}

#directory .map-line:hover svg{
	fill: #FF530D;
}

#directory .map-line:hover .map-name{
	color: #FF530D;
}

#directory .selected-map .map-line svg{
	fill: #FF530D;
}

#directory .selected-map .map-line .map-name{
	color: #FF530D;
}

#directory .selected-node{
	background-color: #3F5765;
}

#directory .node-margin-1{
	margin-left: 5px;
}

#directory .node-margin-2{
	margin-left: 15px;
}

#directory .node-margin-3{
	margin-left: 25px;
}

#directory .node-margin-4{
	margin-left: 35px;
}

#directory .node-margin-5{
	margin-left: 45px;
}

#directory .node-margin-6{
	margin-left: 55px;
}

#directory .node-margin-7{
	margin-left: 65px;
}

#directory .node-margin-8{
	margin-left: 75px;
}

#directory .node-margin-9{
	margin-left: 85px;
}

#directory .node-margin-10{
	margin-left: 95px;
}

#directory .toolbar-bundle svg{
	height: 30px;
	width: 30px;
	padding: 10px;
	border-right: solid 1px #EFEFEF;
	border-bottom: solid 1px #EFEFEF;
	fill: #EFEFEF;
	cursor: pointer;
	float: left;
	transition: all 0.5s ease;
	background-color: #2B3A42;
	display: block;
}

#directory .toolbar-bundle svg.selected, #directory .toolbar-bundle svg:hover{
	fill: #FF530D;
	background-color: #2B3A42;
	border-right: solid 1px #2B3A42;
}

#directory .toolbar-bundle svg.selected:last-child, #directory .toolbar-bundle svg:last-child:hover{
	border-bottom: solid 1px #2B3A42;
}

#map{
	min-height:	100%;
}

#tools{
	overflow: auto;	
	color: #3F5765;
}

#tools input{
	border-bottom : solid 1px #2B3A42;
	color: #2B3A42;
}

#tools button{
	border-color: #2B3A42;
	color: #2B3A42;
}

#tools button:hover{
	background-color: #2B3A42;
	color: white;
}